.footer{
	background-color: #2d2d2d;
	padding:10px 0 0 0;
	color:white;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
}

.contaner {
	margin-top:10px;
	margin-bottom:20px;
}

.footer:after {
	content:"";
	display:block;
	clear:both;
}

.footer-logos {
	text-align: center;
}

.footer-logos span {
	font-size: 26px;
	line-height: 70px;
}

.footer-logos img {
	vertical-align: middle;
	max-width: 200px;
	max-height: 70px;
	margin-left: 15px;
}

.social {
	text-align: center;
	margin-top:10px;
}

.fa {
	display:inline-block;
	margin-left:15px;
	margin-right:15px;
	padding:10px;
	transition: 0.4s;
}

.fa-facebook {
	padding: 10px 13px 10px 13px;
}

.fa-facebook:hover {
	background-color:#3E5993;
}

.fa-twitter:hover {
	background-color: #00C3F8;
}

.fa-youtube:hover {
	background-color: #CC181E;
}

.fa-git:hover {
	background-color: #8c8c8c;
}
