<footer class="footer">
  <div class="container footer-logos">
    <span>
    Organized by:
    </span>
    <img src="/assets/HackBulgaria_logo.png">
    <img src="/assets/SS.png">
    <img src="/assets/logo_fmi.png">
  </div>

  <div class="social container centered-container">
    <a href="https://www.facebook.com/hackfmi/" class="fa fa-facebook"></a>
    <a href="https://twitter.com/HackBulgaria" class="fa fa-twitter"></a>
    <a href="https://www.youtube.com/channel/UClxooLdBT49Kp9_UC0l_7gQ" class="fa fa-youtube"></a>
  </div>
</footer>
