.footer{
	background-color: #2d2d2d;
	padding:20px 0;
	color:white;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
}

.footer:after {
	content:"";
	display:block;
	clear:both;
}

.footer-logos {
	text-align: center;
}

.footer-logos span {
	font-size: 30px;
	line-height: 100px;
}

.footer-logos img {
	vertical-align: middle;
	max-width: 300px;
	max-height: 100px;
	margin-left: 20px;
}
