<div *ngIf="!meDetails.team" class="container create-team-container">
  <button (click)="createTeam()" class="create-team">Създай отбор</button>
</div>

<div *ngIf="meDetails.team" class="container create-team-container">
  <button (click)="showTeamDetails(meDetails.team)" class="create-team">Моят отбор</button>
</div>


<div class="container">
  <div *ngFor="let team of privateTeams" class="team-container">
    <a [href]="team.repository"><h2>Отбор: {{team.name}}</h2></a>
    <p><b>Имейл на лидера: {{team.leader_email}}</b></p>
    <p><b>Описание на идеята:</b> {{team.idea_description}}</p>
    <ul>Технологии:
      <li *ngFor="let technology of team.technologies_full">{{technology.name}}</li>
    </ul>
    <p>
      <b>Има ли свободни места в отбора?</b>
      <span *ngIf="team.need_more_members">Да! {{team.members_needed_desc}}</span>
      <span *ngIf="!team.need_more_members">Не.</span>
    </p>
    <p *ngIf="team.room">Стая: {{team.room}}</p>
  </div>
</div>
