.create-team-container {
    text-align: center;
}

.fa-check {
    font-size: 32px;
    color: #2ECC40;
}

.fa-check:hover {
    color: #4CAF50;
}

.fa-times {
    font-size: 32px;
    color: #FF4136;
}

.fa-times:hover {
    color: #f44336;
}

.search-team {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.team-container {
    border:0;
    padding:20px 20px 40px 20px;
    box-shadow: 5px 5px 20px #888888;
    margin-top:40px;
    position:relative;
}

.team-container:after {
    height:20px;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background-color: #eaeaea;
    display:block;
    content:"";
}

ul {
    padding-left:0;
    font-weight: bold;
}

ul li {
    margin-left:30px;
    font-weight: normal;
}
