<div *ngIf="!meDetails.team" class="container create-team-container" >
  <button hack-orange (click)="createTeam()" class="create-team">Създай отбор</button>
</div>

<div *ngIf="!!!meDetails.team_membership_id" class="container create-team-container">
  <div class="search-team">Търсиш ли си отбор?</div>
  <div (click)="changeLookingForTeamValue()" [class]="lookingForTeamValue ? 'slide-button-container deactivated':'slide-button-container activated'" >
    <div class="slide-button-background"></div>
    <div class="slide-button"></div>
  </div>
  <div>
    {{lookingForTeamString}}
  </div>
</div>

<div *ngIf="meDetails.team" class="container create-team-container">
  <button hack-orange (click)="showTeamDetails(meDetails.team)" class="create-team">Моят отбор</button>
</div>


<div class="container">
  <div *ngFor="let team of privateTeams" class="team-container">
    <a [href]="team.repository" *ngIf=team.repository ><h2>Отбор: {{team.name}}</h2></a>
    <h2 *ngIf=!team.repository>Отбор: {{team.name}}</h2>
    <p><b>Имейл на лидера:</b> {{team.leader_email}}</p>
    <p><b>Описание на идеята:</b> {{team.idea_description}}</p>
    <ul *ngIf=team.technologies_full.length >Технологии:
      <li *ngFor="let technology of team.technologies_full">{{technology.name}}</li>
    </ul>
    <div>
      <span><b>Има ли свободни места в отбора?</b></span>
      <span *ngIf="team.need_more_members">Да!</span>
      <span *ngIf="!team.need_more_members">Не.</span>
    </div>
    <p *ngIf="team.need_more_members && team.members_needed_desc"><b>Какви хора търсим:</b> {{team.members_needed_desc}}</p>
    <p *ngIf="!!!team.updated_room"><b>Стая: {{team.room}}</b></p>
    <p *ngIf="!!team.updated_room"><b>Стая: {{team.updated_room}}</b></p>
  </div>
</div>
