.create-team-container {
    text-align: center;
}

.fa-check {
    font-size: 32px;
    color: #2ECC40;
}

.fa-check:hover {
    color: #4CAF50;
}

.fa-times {
    font-size: 32px;
    color: #FF4136;
}

.fa-times:hover {
    color: #cc0000;
}

.search-team {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.team-container {
    border:0;
    padding:20px 20px 40px 20px;
    box-shadow: 5px 5px 20px #888888;
    margin-top:40px;
    position:relative;
}

.team-container:after {
    height:20px;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background-color: #eaeaea;
    display:block;
    content:"";
}

ul {
    padding-left:0;
    font-weight: bold;
}

ul li {
    margin-left:30px;
    font-weight: normal;
}

.search-team a {
    cursor:pointer;
    display:inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.team-container:last-child {
    margin-bottom: 120px;
}

@media screen and (max-width: 595px) {
    .create-team-container {
        margin-top: 120px;
    }
}

@media screen and (min-width: 596px) {
    .create-team-container {
        margin-top: 20px;
    }
}

.slide-button-container {
    width:80px;
    height:40px;
    display:inline-block;
    position:relative;
    border-radius-top:50%;
    cursor:pointer;
}

.slide-button-container.activated .slide-button {
    margin-left:4%;
}

.slide-button-container.deactivated .slide-button {
    margin-left:50%;
}

.slide-button-container.activated .slide-button-background {
    background-color: #FF4136;
    transition: all 0.5s linear;
}

.slide-button-container.deactivated .slide-button-background {
    background-color: #2ECC40;
    transition: all 0.5s linear;
}

.slide-button-container .slide-button-background {
    background-color: inherit;
    width:37.5%;
    height:100%;
    margin-left:25%;
}

.slide-button-container .slide-button-background:before {
    width:50%;
    height:100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: inherit;
    position:absolute;
    display:block;
    content:"";
    left:0;
}

.slide-button-container .slide-button-background:after {
    width:50%;
    height:100%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: inherit;
    position:absolute;
    display:block;
    content:"";
    left:50%;
}

.slide-button-container .slide-button {
    background-color: #fefefe;
    border-radius:50%;
    width:47%;
    height:92%;
    margin-top:4%;
    margin-top: -48%;
    z-index: 10;
    position: relative;
    transition: all 0.1s linear;
    box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.4);
}
