<div class="container">
  <h1>Няколко бързи въпроса</h1>
  <form>
    <label>С какви технологии можеш да работиш?</label>
    <div *ngFor="let skill of skills" class="checkbox">
      <label><input type="checkbox" (change)="addOrRemoveSkill(skill.id)">{{skill.name}}</label>
    </div>

    <div>
      <label><input type="text" placeholder="Друго" name="other_skills" [(ngModel)]="onboardingInfo.other_skills"></label>
    </div> 

    <div class="checkbox">
      <label><input type="checkbox" name="needs_work" [(ngModel)]="onboardingInfo.needs_work">Търсиш ли си работа?</label>
    </div>

    <div class="form-group">
      <label for="shirt-size">Кой е твоят размер тениска?</label>
      <select class="form-control" id="shirt-size" required (change)="setShirtSize($event.target.value)">
        <option *ngFor="let size of shirtSizes" [value]="size">{{size}}</option>
      </select>
    </div>

    <div class="checkbox">
      <label><input type="checkbox" name="is_vegetarian" [(ngModel)]="onboardingInfo.is_vegetarian">Вегетарианец ли си?</label>
    </div>

    <button type="submit" class="btn btn-default" (click)="onboardCompetitor()">Изпрати</button>
  </form>
</div>