<div *ngIf="competitors.length" class="competitors-container">
  <h1>Състезатели, които са заявили, че си търсят отбор:</h1>

  <table id="competitors-table" class="container" cellspacing="0">
  <thead>
    <tr>
      <th>Име</th>
      <th>Имейл</th>
      <th>Умения</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let competitor of competitors">
      <td>{{competitor.first_name}} {{competitor.last_name}}</td>
      <td>{{competitor.email}}</td>
      <td>
        <summary>
          <div class="skills-container">
            <div *ngIf=competitor.known_skills_full.length>
              <div align="center" *ngFor="let skill of competitor.known_skills_full">{{skill.name}}</div>
              <span *ngIf=competitor.other_skills.length> {{competitor.other_skills}}</span>
            </div>
          </div>
        </summary>
      </td>
      <td>
        <button hack-orange (click)="sendInvitation(competitor.email)">Изпрати покана!</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div align="center" *ngIf="competitors.length==0">
  <h1>В момента няма състезатели, които си търсят отбор.</h1>
</div>
