.invitations-container {
    font-size: 20px;
}

.invitation-container {
    border:0;
    padding:20px 20px 40px 20px;
    box-shadow: 5px 5px 20px #888888;
    margin-top:40px;
    line-height: 40px;
}

.invitation-container:after {
    content:"";
    display:block;
    clear:both;
}

.invitation-container button {
    float:right;
    margin-left:20px;
}


@media screen and (max-width: 359px) {
    .invitations.buttons{
        display: block;
    }

    .accept-button {
        font-size: 10px;
    }
     .reject-button {
        font-size: 10px;
    }
}

@media screen and (min-width: 360px) and (max-width: 411px) {
    .invitations.buttons{
        display: block;
    }

    .accept-button {
        font-size: 15px;
    }
     .reject-button {
        font-size: 15px;
    }
}