<div *ngIf="invites.length">
  <div align="center">
    <h1>Това са вашите покани:</h1>
  </div>

  <div class="container invitations-container">
    <div *ngFor="let invitation of invites" class="invitation-container">
      <span><b>Имаш покана да се присъединиш към отбор {{invitation.team.name}}</b></span>
      <div class="invite-buttons">
        <button class="reject-button" hack-orange (click)="rejectInvitation(invitation)">Откажи</button>
        <button class="accept-button" hack-orange (click)="acceptInvitation(invitation)">Приеми</button>
      </div>
    </div>
  </div>
</div>

<div align="center" *ngIf="invites.length==0">
  <h1>В момента нямате покани за присъединяване към отбор.</h1>
</div>
