.invitations-container {
	font-size: 20px;
}

.invitation-container {
	padding:20px;
	box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
	line-height: 40px;
}

.invitation-container:after {
	content:"";
	display:block;
	clear:both;
}

.invitation-container button {
	float:right;
	margin-left:20px;
}
