<div class="mentors-title">
  <h1>Разпределение на менторите по отбори:</h1>
</div>

<div class="container">
  <div *ngFor="let mentor of mentors" class="mentor-container">
    <div *ngIf="mentor.picture" class="mentor-information">
      <img [src]="mentor.picture" class="mentor-avatar"/>
      <b><div class="mentor-name">{{mentor.name}}</div></b>
    </div>
    <div class="mentor-teams">
      <div *ngFor="let team of mentor.teams">
        <div class="mentor-team" *ngIf="!!!team.room" ><b>{{team.name}}</b>: <span>В момента няма стая.</span></div>
        <div class="mentor-team" *ngIf="!!team.room" ><b>{{team.name}}:</b> <span>{{team.room}} стая</span></div>
      </div>
    </div>
  </div>
</div>
