.mentor-container {
    border: 0;
    box-shadow: 5px 5px 20px #888888;
    margin-top: 40px;
    position: relative;
    padding: 20px 20px 30px 20px;
}

.mentor-container:before {
    height:20px;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background-color: #eaeaea;
    display:block;
    content:"";
    clear:both;
}

.mentor-container:after{
    display:block;
    content:"";
    clear:both;
}

.mentor-container button {
    float:right;
    margin-left:20px;
}

.mentor-container .mentor-information {
    display: block;
    font-size: 18px;
    width:200px;
    word-break: break-word;
}

.mentor-container > span {
    font-size: 20px;
}

.mentor-information {
    float:left;
    text-align: center;
}

.mentor-avatar {
    max-width: 200px;
    max-height: 200px;
}

.mentor-teams {
    float:left;
    padding-left:20px;
}

.mentor-teams .mentor-team {
    font-size:18px;
}

.mentor-teams .mentor-team b{
    color: #003ea2;
}

.mentor-teams .mentor-team span{
    color: #222;
}

.mentors-title {
    text-align: center;
}

@media screen and (max-width:425px) {
    .mentor-container div.mentor-information {
        width: 100%;
        float: none;
        border-bottom: 1px solid silver;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}
