<div class="login-container">
  <div class="form-container">
    <form>
      <div class="form-control">
        <label>Имейл:</label>
        <input hack-orange type="email" name="email" required [(ngModel)]="account.email">
      </div>
      <div class="form-control">
        <label>Парола:</label>
        <input hack-orange type="password" name="password" required [(ngModel)]="account.password">
      </div>
      <div class="buttons-container" >
        <button hack-orange (click)="login()">Влез</button> или <button hack-orange (click)="register()">Регистрация</button>
      </div>
    </form>
  </div>
</div>
