.login-container {
    text-align: center;
    padding-top:10%;
    padding-bottom: 30%;
}

.form-container {
}

.form-container form {
    height:200px;
}

.login-container .form-control {
    padding:10px;
}

.login-container .form-control label {
    display:inline-block;
    width: 120px;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

.buttons-container {
    margin-top:20px;
}

@media screen and (max-width: 415px) {
    .login-container .form-control label {
        width:auto;
    }

    .buttons-container button {
        width: 92%;
    }
    .login-container {
        padding-bottom: 75%;
    }
}