h1 {
    text-align: center;
}

.form-group {
    padding-top:10px;
    padding-bottom:10px;
    font-size: 18px;
}

label {
    min-width:200px;
    display:inline-block;
    font-weight: bold;
}

form {
    width:550px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

@media screen and (max-width: 768px) {
    form {
        width:100%;
    }
}

.submit-container {
    margin-top:20px;
    margin-bottom:20px;
    text-align: center;
}
