.mentor-container {
    border:0;
    padding:20px 20px 40px 20px;
    box-shadow: 5px 5px 20px #888888;
    margin-top:40px;
    position:relative;
}

.mentor-container:before {
    height:20px;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background-color: #eaeaea;
    display:block;
    content:"";
    clear:both;
}

.mentor-container:after{
    display:block;
    content:"";
    clear:both;
}

.mentor-container button {
    float:right;
    margin-left:20px;
}

.mentor-container h2 {
    display: inline;
}

.mentor-container > span {
    font-size: 20px;
}

.mentor-avatar {
    float:left;
    margin-right:20px;
    margin-bottom:20px;
    max-height:200px;
    width:200px;
    text-align: center;
}

.mentor-avatar img {
    max-width:200px;
    max-height:200px;
}

.mentor-container:last-child {
    margin-bottom: 120px;
}